.sideBar_left_block_category {
    margin-top: 90px;
    width: 40vw;
    height: 60vh;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: roboto;
    margin-left: 200px;
}
.dropdown_content_category {
    width: 30vw;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    box-shadow: 2px 2px 10px 0px gray;
    padding: 10px;
    border-radius: 10px;
    background-color: #f1f1f1;
}
.dropdown_content_category > h3 {
    margin: 0 auto;
    margin: 20px;
    width: 100%;
    font-weight: 900;
    font-size: 30px;
    text-align: center;
}
.dropdown_content_category > div {
    display: block;
    text-decoration: none;
    width: 30%;
    border-radius: 10px;
    margin: 5px 0;
    color: black;
    padding: 12px 16px;
    margin: 10px;
    transition: 1s;
    box-shadow: 2px 2px 10px 0px gray;
}
.dropdown_content_category > div:hover {
    background-color: rgba(244, 129, 35, 0.4);
    cursor: pointer;
    transition: 1s;
}

/* adaptive  */

@media all and (max-width: 1476px) {
    .sideBar_left_block_category {
        margin-top: 120px;
    }
    .main_div {
        overflow-y: scroll;
    }
}
@media all and (max-width: 910px) {
    .sideBar_left_block_category {
        width: 60vw;
    }
    .dropdown_content_category {
        width: 50vw;
    }
}
@media all and (max-width: 546px) {
    .sideBar_left_block_category {
        width: 65vw;
        margin-left: 170px;
    }
    .dropdown_content_category {
        width: 55vw;
    }
}
@media all and (max-width: 497px) {
    .sideBar_left_block_category {
        width: 65vw;
        margin-left: 150px;
    }
    .dropdown_content_category {
        width: 45vw;
    }
    .dropdown_content_category > h3 {
        font-size: 20px;
    }
    .dropdown_content_category > div {
        width: 80%;
    }
}
@media all and (max-width: 435px) {
    .sideBar_left_block_category {
        width: 65vw;
        margin-left: 130px;
    }
    .dropdown_content_category {
        width: 45vw;
    }
}
@media all and (max-width: 435px) {
    .sideBar_left_block_category {
        margin-top: 90px;
    }
}
@media all and (max-width: 370px) {
    .sideBar_left_block_category {
        width: 65vw;
        margin-left: 115px;
    }

    .dropdown_content_category {
        width: 43vw;
    }
}
