.center__user__block {
    width: 90%;
    background-color: #fff;
    margin: 10px;
    margin-bottom: 30px;
    display: flex;
    flex-direction: column;
    height: 100%;
    border-radius: 20px;
    box-shadow: 2px 2px 10px 0px gray;
    justify-content: start;
}
.center__user__block > h4 {
    margin: 0px 0px 30px 20px;
}
.user__img {
    width: 40px;
    height: 40px;
    border-radius: 50%;
}
.user__block {
    margin-top: 10px;
    display: flex;
    justify-content: space-between;
}
.user__left__block {
    display: flex;
    align-items: center;
    margin: 20px;
}
.username {
    margin: 0 15px;
}
