.postItem_center {
    width: 70%;
    background-color: #fff;
    margin: 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100%;
    border-radius: 5px;
    box-shadow: 1px 2px 1px rgb(184, 184, 184);
}
.center__user__block {
    width: 100%;
    display: flex;
    justify-content: center;
}
.user__img {
    width: 40px;
    height: 35px;
    border-radius: 50%;
}
.user__block {
    margin-top: 10px;
    width: 80%;
    display: flex;
    justify-content: space-between;
}
.user__right__block {
    font-size: 30px;
}
.user__right__block a {
    list-style-type: none;
    text-decoration: none;
}
.user__left__block {
    display: flex;
}
.center__main__block {
    margin-top: 10px;
    width: 90%;
}
.bottom__part {
    display: flex;
    margin-top: 10px;
    justify-content: space-between;
}
.comentsCountDiv {
    display: flex;
    cursor: pointer;
}
.couter__block {
    display: flex;
    align-items: center;
    justify-content: center;
}
.couter__block p {
    margin-right: 10px;
}
.to__desc__btn {
    border: none;
    padding: 8px;
    border-radius: 5px;
    color: rgb(118, 118, 118);
}
.username {
    margin-left: 12px;
    margin-top: 7px;
}

.dropdown_foto_div {
    width: 100%;
    height: 100%;
    cursor: pointer;
}
.dropdown {
    position: relative;
    display: inline-block;
}
.dropdown_content {
    display: none;
    position: absolute;
    background-color: #f1f1f1;
    right: 0;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    z-index: 1;
}
.dropdown_content > a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    transition: 2s;
}
.dropdown_content > a:hover {
    background-color: rgba(207, 108, 28, 0.4);
    transition: 0.5s;
    border-radius: 5px;
}

.dropdown:hover > .dropdown_content {
    display: block;
}

.toDeg {
    transform: rotate(90deg);
}
