.navBar {
    display: flex;
    justify-content: space-between;
    height: 10vh;
    background-color: white;
    align-items: center;
    border-bottom: 1px solid rgb(162, 162, 162);
    font-family: "Roboto", sans-serif;
}
.register_img {
    width: 25px;
    filter: invert(100%);
}
.left__block {
    margin-top: 15px;
    margin-left: 25px;
    margin-bottom: 10px;
}
.right__block {
    display: flex;
    align-items: center;
    flex-direction: row !important;
}
.right__block button {
    margin-right: 10px;
    padding: 10px 25px;
    border-radius: 5px;
    border: none;
    font-size: 18px;
}
.register__btn {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    background-color: #f48023;
    color: white;
    align-items: center;
    width: 150px;
}
.login__btn {
    color: #1682fd;
    background: #eaeaea;
}
.add_question_btn {
    background-color: #f48023;
    color: white;
    width: 200px;
    height: 40px;
    display: flex;
    justify-content: space-evenly;
    cursor: pointer;
}
.askIcon {
    width: 20px;
    margin-right: 10px;
    filter: invert(100%);
}
.profileFoto {
    border-radius: 50%;
}
.notificationFoto > img {
    width: 100%;
    height: 100%;
}
.notificationFoto {
    height: 30px;
    width: 30px;
    margin: 10px;
}
.notificationFoto:hover {
    cursor: pointer;
}
.profileFoto > img {
    width: 100%;
    height: 100%;
}
.profileFoto {
    height: 60px;
    width: 60px;
    margin: 10px;
}
