.sideBar {
    position: absolute;
    width: 15%;
    border: 1px solid rgb(178, 178, 178);
    border-bottom: transparent;
    height: 89vh;
    background-color: white;
}
.input__block {
    width: 100%;
    display: flex;
    height: 30px;
    border-radius: 5px;
    margin-bottom: 50px;
    align-items: center;
    position: relative;
    border: 1px solid rgb(178, 178, 178);
}
.search_input {
    width: 100%;
    margin: 10px;
}
.top__block {
    padding: 30px;
}
.input__block input {
    outline: 0;
    outline-offset: 0;
    border: none;
}
.main__block p {
    font-size: 18px;
    margin-left: 10px;
    font-family: "Roboto", sans-serif;
}
.main__block p:first-child {
    margin-left: 0px;
    padding-left: 30px;
}
.sideBar__img {
    width: 20px;
    height: 20px;
}

.sideBar_left_block {
    width: 100%;
    display: flex;
    height: 100px;
    align-items: center;
    transition: 1s;
    justify-content: center;
}
.sideBar_left_block:hover {
    width: calc(100% - 10px);
    cursor: pointer;
    border-left: 10px solid #f48023;
    transition: 0.5s;
    background-color: rgba(244, 129, 35, 0.09);
}

/* adaptive */
@media all and (max-width: 1230px) {
    .sideBar {
        width: 20%;
    }
}
@media all and (max-width: 900px) {
    .sideBar {
        width: 25%;
    }
}
@media all and (max-width: 700px) {
    .sideBar {
        width: 28%;
    }
}
@media all and (max-width: 540px) {
    .sideBar {
        width: 33%;
    }
}
@media all and (max-width: 420px) {
    .sideBar {
        width: 35%;
    }
    .sideBar_left_block > p {
        display: none;
    }
    .top__block {
        padding: 10px;
    }
}
